body {
 background-color: #AFAFAF; 
 background-image: url("back.png");
 background-repeat: no-repeat;
 background-position: bottom;
 background-size: cover;
 font-family: Verdana, sans-serif; 
 font-size: 100%;
 }
h1 {
 font-size: 200%; 
 color: #0B0B45; 
 text-align: center;
 }
h2 {
 font-size: 150%; 
 color: #0B0B45; 
 padding-left: 15px;
 }
h3 {
 font-size: 125%; 
 color: #0B0B45; 
 padding-left: 15px;
}
h4 {
 color: #0B0B45; 
 font-size: 110%; 
 padding-left: 10px;
}
p{
 color: #231709;
 text-align: justify;
 padding-left: 10px;
 padding-right: 10px;
 padding-top: 5px;
 }
a:hover {
 color: red;
 text-decoration: none;
}
a:active, a:focus {
 color: red;
}